{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="section-conten padding-y bg">

	<div class="container">
		<div class="row">
		<aside class="col-md-3">
			<!--   SIDEBAR   -->
			<ul class="list-group">
				<a class="list-group-item active" href="{% url 'profile' %}"> Dashboard </a>
				<a class="list-group-item" href="{% url 'my_order' %}"> My Order </a>
				<a class="list-group-item" href="{% url 'edit_profile' %}"> Edit Profile </a>
				<a class="list-group-item" href="{% url 'change_password' %}">Change Password </a>
				<a class="list-group-item" href="{% url 'forgot_password' %}">Forgot Password </a>
			</ul>
			<br>
			<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
			<!--   SIDEBAR .//END   -->
		</aside>
		
		<main class="col-md-9">
			<article class="card">
			<header class="card-header">
				<strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
				<span>Order Date: 16 December 2018</span>
			</header>
			<div class="card-body">
				<div class="row"> 
					<div class="col-md-8">
						<h6 class="text-muted">Delivery to</h6>
						<p>Md Al Amin <br>  
						Phone +1234567890 Email: hello@pixsellz.com <br>
						Location: Home number, Building name, Street 123,  Tashkent, UZB <br> 
						P.O. Box: 100123
						 </p>
					</div>
					<div class="col-md-4">
						<h6 class="text-muted">Payment ways</h6>
						<span class="text-success">
							<i class="fab fa-lg fa-cc-visa"></i>
							Visa  **** 4216  
						</span>
						<p>Subtotal: $356 <br>
						</p> Shipping fee:  $56 <br> 
						 <span class="b">Total:  $456 </span>
						
					</div>
				</div> <!-- row.// -->
			</div> <!-- card-body .// -->
			
			</article> <!-- order-group.// --> 
		</main>
	</div> <!-- row.// -->
	</div>
	</section>
{% endblock body %}