{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="section-conten padding-y bg">

	<div class="container">
		<div class="row">
		<aside class="col-md-3">
			<!--   SIDEBAR   -->
			<ul class="list-group">
				<a class="list-group-item active" href="{% url 'profile' %}"> Dashboard </a>
				<a class="list-group-item" href="{% url 'my_order' %}"> My Order </a>
				<a class="list-group-item" href="{% url 'edit_profile' %}"> Edit Profile </a>
				<a class="list-group-item" href="{% url 'change_password' %}">Change Password </a>
				<a class="list-group-item" href="{% url 'forgot_password' %}">Forgot Password </a>
			</ul>
			<br>
			<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
			<!--   SIDEBAR .//END   -->
		</aside>
		
		<main class="col-md-9">
			<article class="card">
			<header class="card-header">
				<strong class="d-inline-block mr-3">Logged in as: <span>{{request.user.first_name}}</span></strong>
			</header>


			<div class="card-body">
				<div class="row"> 
					<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						<h5 class="card-title">Total Orders</h5>
						<h4>{{orders_count}}</h4>
						<a href="{% url 'my_order' %}">View Orders</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				
				<div class="card" style="text-align:center;">
					<h5 class="card-title">User Information</h5>
					<div class="card-body">
						<!-- <img src="{{request.userprofile.profile_picture.url}}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;"> profile.// -->
						<p class="mb-0">Email-<span>{{request.user.email}}</span></p>
						
						
						
					</div>
				</div>
			</div>
				</div> <!-- row.// -->
			</div> <!-- card-body .// -->
			
			</article> <!-- order-group.// --> 
		</main>
	</div> <!-- row.// -->
	</div>
	</section>
{% endblock body %}