{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="section-conten padding-y bg">

	<div class="container">
		<div class="row">
		<aside class="col-md-3">
			<!--   SIDEBAR   -->
			<ul class="list-group">
				<a class="list-group-item " href="{% url 'profile' %}"> Dashboard </a>
				<a class="list-group-item" href="{% url 'my_order' %}"> My Order </a>
				<a class="list-group-item" href="{% url 'edit_profile' %}"> Edit Profile </a>
				<a class="list-group-item " href="{% url 'change_password' %}">Change Password </a>
				<a class="list-group-item active" href="{% url 'forgot_password' %}">Forgot Password </a>
			</ul>
			<br>
			<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
			<!--   SIDEBAR .//END   -->
		</aside>

	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Forgot Password</strong>

		</header>
		<div class="card-body">
            <h4 class="card-title mb-4">Forgot Password?</h4>
            <p class="card-title mb-4">Enter your email adress and we will send you a link to rest your password</p>

            <form action="{% url 'forgot_password' %}" method="POST">
              {% csrf_token %}
                <div class="form-group">
                   <input type="email" class="form-control" placeholder="Email Address" name="email">
                </div> <!-- form-group// -->
      
                <div class="form-group">
                    <a href="{% url 'login' %}" class="float-right">Got password? Login</a>
      
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
                </div> <!-- form-group// -->
            </form>
            </div> <!-- card-body.// -->
          </div> <!-- card .// -->
      
           <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
           <br><br>
      <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
      

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}
