.panda-bg-info{
    background-color: #fceae8;
}
.categoris img{
    width: 100px;
}
.logo{
    color: rgb(29, 39, 229);
    font-size: 24px;
}
.mart{
    color: rgb(137, 46, 46);
}
.padding-y {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .input-area{
    width: 380px;
  }
  .nav-header{
    margin-bottom: 100px;
  }
 .card-container{
    height: 500px;
    width: 700px;
 }
 .cus-review{
    margin-top: 400px;
 }
 
 .cart-imgg{
  height: 70px;
  width: 70px;
 }
 .form-controll{
  width: 20px;
  border-color: rgb(0, 0, 0);
  padding: 5px;
  
 }
 dl[class=row] {
  margin-bottom: 0;
}
[class*=dlist-] {
  margin-bottom: 5px;
}
[class*=dlist-] dd {
  margin-bottom: 0;
}

.dlist-inline dt, .dlist-inline dd {
  display: inline-block;
}

.dlist-align {
  display: flex;
}
.dlist-align dt {
  width: 150px;
  word-wrap: break-word;
  font-weight: normal;
}
.dlist-align dd {
  flex-grow: 1;
}
.section-content{
  margin-top: 40px;
}

.widget-header{
  padding: 10px;
}